<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input placeholder="Informe seu nome" type="text" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input placeholder="Informe seu e-mail" type="email" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">UF</ion-label>
      <ion-select okText="OK" cancelText="Cancelar" placeholder="Informe o estado" type="text">
        <ion-select-option *ngFor="let estado of estados" value="{{ estado.sigla }}">{{ estado.nome }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input placeholder="Informe a senha" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repita a Senha</ion-label>
      <ion-input placeholder="Informe a senha" type="password"></ion-input>
    </ion-item>
    


  </ion-list>

</ion-content>